html,
body {
  font-family: 'Outfit', sans-serif;
  color: #333;
  background-color: #effffa;
  margin: 0;
  padding: 0;
}

header {
  background-color: #c9dfff;
  color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

main {
  margin-top: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 15px 0;
}

h2 {
  font-size: 2.3rem;
  font-weight: 800;
  margin: 15px 0;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 0;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper > a:first-child {
    max-width: 250px;   /* ajusta aquí el ancho final que quieres */
    display: block;
}

.nav-wrapper > a:first-child img {
    width: 100%;
    height: auto;
    display: block;
}

svg {
  vertical-align: middle;
}

.svg-button {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-bottom: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333;
}

dialog {
    opacity: 0;
    width: 35%;
    transform: scale(0.95);
    transition: all 0.3s ease;
    border: none;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

dialog.open {
    opacity: 1;
    transform: scale(1);
}

.dialog-action {
    float: right;
    margin-top: -18px;
    margin-right: -15px;
}

form {
  width: 100%;
}

input, select {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 38px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #196273;
  border-radius: 8px;
}

textarea {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #196273;
  border-radius: 8px;
  resize: none;
}

button {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #196273;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  height: 30px;
  line-height: 30px;
  padding: 0px 16px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-out;
}

button:hover {
  background-color: #59b299;
}

.btn {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #02a58d;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0px 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-out;
}

.btn:hover {
  background-color: #196273;
}

.modal button {
  display: block;
  margin: auto;
}

.center-align {
  text-align: center;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin: 1rem 0;
}

.input-field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 24px;
}

.card-action {
    float: right;
    margin-top: -18px;
    margin-right: -15px;
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.dropdown-menu {
  visibility: hidden;
  position: absolute;
  top: 6%;
  right: 5rem;
  background-color: #c9dfff;
  width: 160px;
  border-radius: 8px;
  z-index: 9999;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0;
  /* Oculto por defecto */
  transform: scale(0.95);
  /* Ligeramente contraído */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: left;
  gap: .8rem;
  padding: 15px;
}

.show {
  visibility: visible;
  flex-direction: column;
  opacity: 1;
  /* Visible */
  transform: scale(1);
  /* Tamaño normal */
}

.closing {
  opacity: 0;
  /* Animación de salida */
  transform: scale(0.95);
  /* Ligeramente contraído */
  visibility: hidden;
  /* Ocultar al final de la transición */
}

.dropdown-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #002d5e;
  height: 30px;
  line-height: 30px;
  transition: all 0.3s ease;
}

.dropdown-link:hover {
  background-color: #e7f1ffbf;
  color: #00b49a;
  padding: 0 5px;
  border-radius: 5px;
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* ===== Media Queries globales ===== */

@media screen and (max-width: 479px) {
  .container {
    max-width: 320px;
    margin: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    max-width: 380px;
    margin: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    max-width: 890px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}