/* ===== Media Queries globales ===== */

@media screen and (max-width: 479px) {
  .container {
    max-width: 320px;
    margin: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    max-width: 380px;
    margin: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    max-width: 890px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }

  .card-login {
    max-width: 45%;
    margin: 20% auto
  }

  .img-login {
    max-width: 85%;
  }

  .input-login {
    width: 75%;
  }
}